
.disk {
    height: 10%;
    margin: 0 auto;
    border: thin solid black;
    border-radius: 25px;
    margin-bottom: 1px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#sidebar-disk1 {
    width: 40%;
    background: red;
}

#sidebar-disk2 {
    width:50%;
    background: yellow;
}

#sidebar-disk3 {
    width:60%;
    background: blue;
}

#sidebar-disk4 {
    width:70%;
    background: orange;
}

#sidebar-disk5 {
    width:80%;
    background: green;
}

#sidebar-disk6 {
    width:90%;
    background: purple;
}
#sidebar-disk7 {
    width:100%;
    background: pink;
}